@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*model *@

<div>
    <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col">Group Size</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>

            <tbody>
                @* foreach (modelname x in Model)
        {
            <tr>
                <td>@x.GroupName</td>
                <td>@x.GroupSize</td>
                <td>@x.Email</td>
                <td>@x.PhoneNumber</td>
            </tr>
        }*@
            </tbody>
        </table>
</div>
