 
<div class="container">

    <div class="row mt-2">

        <div class="col-12 mb-4" align="center">
            <h2>Welcome To Appointment Whiz</h2>
        </div>

    </div>

    <div class="row" align="center">

        <div class="col-12 col-sm-5 m-auto p-auto">
            <img src="~/img/phillyTemple.jpg" class="temple rounded" width="450"/>
        </div>

        <div class="col-12 col-sm-5 card m-auto p-3">
            <h4>About Us</h4>
            <p>
                The Layton Utah Temple will be the nineteenth temple built in Utah and the second built in Davis County, following the Bountiful Utah Temple (1995).

                The First Presidency assigned the Utah Area Presidency to conduct a small-scale groundbreaking, held Saturday, May 23, so that construction could proceed."3 A video of the service was released online the following Saturday on the originally scheduled groundbreaking date.                
                Location
                1400 East Oakhills Drive (approximate)
                Layton, Utah  84040
                United States
                Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.
            </p>
        </div>

    </div>

    <div class="row m-3" align="center">

        <div class="col-sm-12 m-5">
            <form asp-action="SignUp" method="get">
                <button type="submit" class="btn btn-outline-primary font-weight-bold">Sign Up Now</button>
            </form>
        </div>

    </div>

</div>



